*{margin:0;padding:0;}
.cl{clear: both;}
.autotoolkit{max-width: 100%;height: auto;vertical-align: middle;}
a,img{border:none;text-decoration: none;}
.autoimg{max-width: 100%;height: auto;display: block;}
ul{list-style: none;}
body{font-family: "微软雅黑";background: #e6ce73 repeat 0 0;font:normal 12px/2 Arial,SimSun;color: #521c02;}
.fl{float: left;}
.fr{float: right;}
.syxy{max-width: 1000px;min-width: 200px;text-align: center; margin: 0 auto;}
.sy{width: 100%;margin:0 auto;-moz-box-sizing:border-box;box-sizing:border-box;}
.sya{padding:14px;background: #381c06; position:relative;}
.backgz{position:absolute; display:block; width:16.7%; bottom:3%;}
.syb{overflow: hidden; width: 55%; float: left;}
.syb a{height: 48px;overflow: hidden;display: block;width: 33%;float: left;box-sizing:border-box;-moz-box-sizing:border-box;color: #fff;font-size: 20px;line-height: 48px;background: #654026;text-align: center;font-family: "微软雅黑";border-right: 1px dashed rgba(255,255,255,.2)}
.syb a.cur{font-size: 24px;background: #da7e1b;border-right:1px solid #da7e1b;}
.syb a.none{border:none;}
.text{width: 132px;border-right: 1px dashed rgba(21,179,204,.19);}
.text h3{font-size: 16px;line-height: 80px;color: #f0f0f0;text-align: center;}
.text span{font-size: 14px;line-height: 20px;font-weight: bold;text-align: center;display: block;color: #36bed9;padding-bottom: 15px;}
.hehe{margin:0 auto;overflow: hidden;margin: 25px auto;}
.syxy .link{overflow: hidden;position: relative;height: 40px;right:0;bottom:0;}
.syxy .link .input1{width: 200px;height: 100%;background: #fff;padding:0 ;border:none;padding-left: 21px;margin-right: 20px; box-sizing:border-box;-moz-box-sizing:border-box;font-size: 12px;color: #000;background: #ffffff;}
.syxy .link .input2{position: relative; width: 91px;height: 100%;background: #fff;padding:0 ;margin-right: 20px;border:none;font-size: 12px;color: #fff;text-align: center;background: #e8851d;line-height: 40px;}
.xy-nav{position:relative;}
input{border:0;padding:0;background: none;}
.moble{display: none;}
.answer{width: 100%;min-width: 100px;background: #f0f0f0 repeat top center;margin:0 auto;padding-top: 10px;}
.answ{width: 100%;margin:0 auto;}
.ans1{width: 20%;margin:0 auto;display: block;height:349px;}
.ans1>a{width: 225px;margin:0 auto;height: 130px;display: block;}
.ans2{overflow: hidden;margin-bottom: 20px;background-size: 100% 100%;}
.soso{width: 40%;height: 48px;position: relative;border-right: 0;}
.input1{width: 200px;height: 100%;border:1px solid #d87c19;font-size: 14px;color: black;padding-left: 30px;box-sizing:border-box;-moz-box-sizing:border-box;outline: none;font-family: "微软雅黑";}
.input2{position: absolute;top:0px;right:0px;width: 80px;height: 50px;text-align: center;font-size: 16px;font-weight: bold;background: #e7841c;border-left: 1px solid #e7841c;cursor: pointer;outline: none;font-family: "微软雅黑";color: #fff;font-weight: normal;}
.ans3 table td{text-align:left;font-family: "Microsoft YaHei";font-size: 14px;line-height: 50px;padding:0 10px;color: #454545;vertical-align: middle;clear: both;background: #ebe0ce;}
.ans3 table td.title1{line-height: 50px;font-size: 20px;text-align: center;color: #fff;background: #e7841c;border:none;}
.ans3 table td.tt{background: #e7841c;border:none;}
.ans3{padding-bottom: 30px;}
.answer table:last-child tr:nth-of-type(2n+0) td{background: #dfc39c;}
.answer table:last-child tr td{line-height: 40px;height: 40px;}
.ans3 table tr td:nth-child(2){border-left: 1px solid #f0f0f0;}
:root{overflow-y:scroll;}
.clearfix{ zoom:1; overflow:hidden;}
a.a_back{ left:0;}
a.imitator{ left:126px;}
a.question{ right:0;}
a.skill{ right:126px;;}
.conwrap{ position:relative; margin:0 auto;}
.conwrap .tit{ position:absolute; left:260px; font: normal 20px/35px 'Microsoft Yahei'; color:#63330d;}
strong.red{ color:#fff; font-weight:normal;}
strong.blue{ color:#fff; font-weight:normal;}
.addp{ color:#9e8055; margin:50px 0 0 45px;}
.yzz_common{ margin-top:14px;}
.page .yzz_sharetxt{ font:16px/37px 'Microsoft Yahei';}
.tabcon{ display:none; *margin-top:67px;}
.tabcon.hover{ display:block;}
.cpblock{overflow: hidden;}
.tabthwr{ float: left; height:32px; margin-top: 49px;}
.span_t{ display:inline-block; line-height:30px; color:#f0f0f0; font:16px/32px 'Microsoft Yahei'; margin-right:10px;}
.tabth li{ margin-bottom: 10px;width:50px; float:left; text-align:center; background:none;margin-right:11px; line-height:30px; color:#fff; border:1px solid #d87c19; cursor:pointer; font-size:14px;box-sizing:border-box;-moz-box-sizing:border-box;}
.tabth li.hover{ background:#d87c19;color: #fff;}
table.property{ width:100%; margin:26px auto; border-radius:2px;}
table.property td{border:none; text-align:center; color:#6c3612; font:16px/38px 'Microsoft Yahei';}
table.property tr.th td{line-height: 50px;color: #ffffff;font-size: 20px;height: 50px !important;}
table.property tr.th td strong{font-weight: normal;color: #fff;}
table.property tr.th{position: relative;height: 50px;width: 100%;overflow: hidden;display: block;}
table.property tr{height: 40px;display: block;width: 100%;position: relative;}
table.property tr td{display: block;}
table.property tr td:first-child{width: 100%;padding-right: 38%;box-sizing:border-box;-moz-box-sizing:border-box;}
table.property tr td:last-child{width:37%;border-left: 1px solid #f0f0f0;position: absolute;top:0;right:0;color: #454545;height: 40px;}
table .td1 strong{ width:auto; display:block;}
table .td2 strong{ width:auto; display:block;}
tr.eve{ background:#ebe0ce;}
tr.odd{ background:#dfc39c;}
.th td{ background:#e7841c;}
td.first{ text-align:left!important; position:relative;}
.first span.title{ margin-left:30px;color: #454545;}
.cheakblock>div{display: none;}
.cheakblock>div.cur{display: block;}
.a_accumate{ display:block; width:300px; height:50px; margin:30px auto 61px; background:#d67c1b;font-size: 20px;line-height: 50px;color: #fff;text-align: center;}
.btnwrap{ width:144px; position:absolute; right:38%; top:7px;}
.btnwrap a{ display:inline-block; width:25px; height:25px; margin-right:15px;line-height: 25px;font-size: 20px;text-align: center; }
.btnwrap a.a_add10{width: 39px;}
.p_result { width:100%; height:270px; background:rgba(255,255,255,.1);margin:0 auto 35px;border:1px solid #654026;box-sizing:border-box;-moz-box-sizing:border-box;}
.p_result .level{ line-height:28px; font-size:18px; margin-left:45px!important;margin-top: 35px;margin-bottom: 20px;}
.p_result p{ color:#f4e9b1;  font:14px/28px 'Microsoft Yahei'; margin-left:45px;}
.p_result p span{ display:inline-block; width:128px;}
.level_val{color:#236cb0;}
.a_sure{position:absolute; left:43%;top:0;display:block;width:50px; height:30px; background:#d87c19; font:14px/30px 'Microsoft Yahei'; text-align:center; color:#fff; box-sizing:border-box;-moz-box-sizing:border-box; }
.left{display: none;}
.right{display: none;}